{
  "test": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/NotepadApiTest",
    "JWT_SECRET": "YOUR_SECRET"
  },
  "development": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/NotepadApiDev",
    "JWT_SECRET": "YOUR_SECRET"
  }
}
